.bg-login {
  background-image: url("../../../../public/images/bgloginv2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.bg-register {
  background-image: url("../../../../public/images/bgregisterv2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
