.swiper.swiper-virtual.swiper-initialized.swiper-horizontal.swiper-watch-progress {
  height: 70px !important;
}
.swiper-virtual {
  .swiper-wrapper {
    height: 70px !important;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}
.swiper-wrapper {
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;
    cursor: pointer;
    color: var(--font-color-f1);
  }
}
