.bt-form-login-simple-1 {
  width: 100%;
  max-width: 500px;
  margin-inline: auto;
  box-shadow: 0 1px 3px 0 rgba(18, 17, 17, 0.1),
    0 1px 2px -1px rgba(29, 26, 26, 0.1);
  padding: 40px;
  border-radius: 12px;
  .form-heading {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 4px;
    margin-bottom: 20px;
  }
  .form-desc {
    color: #808191;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
  }
  .btn-login-google {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 14px;
    border: 1px solid #cbd5e1;
    margin-top: 20px;
    border-radius: 12px;
    font-weight: 500;
    color: #4b5264;
    transition: linear 0.25s;
  }
  .text-wrap {
    display: flex;
    align-items: center;
    margin-block: 20px;
  }
  .text {
    text-align: center;
    padding-inline: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #808191;
  }
  .text-line {
    height: 1px;
    width: 100%;
    background-color: #f1f1f3;
  }
  .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .form-group {
    margin-bottom: 10px;
    label {
      font-size: 14px;
      font-weight: 500;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .form-input {
    padding: 15px 25px;
    width: 100%;
    border: 1px solid #cbd5e1;
    border-radius: 12px;
    outline: none;
    transition: linear 0.25s;
    &:focus {
      border-color: #1dc071;
    }
  }
  .form-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-top: 20px;
  }
  .form-remember {
    display: flex;
    align-items: center;
    gap: 5px;
    label {
      position: relative;
      top: 1px;
    }
  }

  .form-link {
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    transition: linear 0.25s;
    &:hover {
      color: #1dc071;
    }
  }
  .form-btn {
    padding: 13px;
    width: 100%;
    background-color: #1dc071;
    border-radius: 12px;
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .form-option {
    text-align: center;
    font-size: 14px;
    a {
      font-weight: 500;
      text-decoration: underline;
      transition: linear 0.25s;
      &:hover {
        color: #1dc071;
      }
    }
  }

  .form-btn {
    display: inline-block;
    padding: 16px 40px;
    font-size: 1.125rem;
    line-height: 1.75rem;
    background-color: #1dc071;
    color: white;
    font-weight: 600;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
    position: relative;
    isolation: isolate;
    overflow: hidden;
  }
  .form-btn:hover::before {
    left: auto;
    right: 0;
    width: 100%;
  }
  .form-btn::before {
    content: "";
    position: absolute;
    left: 0;
    right: auto;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #fff;
    opacity: 0.1;
    z-index: -1;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}
.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #4e4e4e;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}
